<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<title>个人中心 - 艺格商城</title>
		<link rel="stylesheet" href="../../css/vue-setting.css">
		<link rel="stylesheet" href="../../css/bootstrap.css" />
		<link rel="stylesheet" href="../../css/style2.css" />
		<link rel="stylesheet" href="../../css/user.css" />
		<link rel="stylesheet" href="../../css/index.css" />
		<link rel="stylesheet" href="../../css/pagination.css">
        <link rel="stylesheet" href="../../layer/theme/default/layer.css">
		<script type="text/javascript" src="../../js/vue.js"></script>
		<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="../../js/jquery.min.js"></script>
		<script type="text/javascript" src="../../js/bootstrap.js"></script>
		<script type="text/javascript" src="../../layer/layer.js"></script>
        <script src="../../js/userSession.js"></script>

	</head>

	<body style="background-image: url(../../img/rgt_lg.png);overflow-x: hidden;">
		<div class="container-fluid head" style="border-bottom: 1px solid #DEDEDE; background-color: #F2F2F2;color: #484848;">
			<div class="container">
				<div id="top" class="row" style="font-size: 12px;padding:5px;">
					<div class="col-md-2">欢迎来到艺格艺术生用品商城</div>
					<div class="col-md-2" v-cloak>用户{{user.telephone}}</div>
					<div class="col-md-1">
						<a href="#" v-on:click="logout()">退出</a>
					</div>
					<div class="col-md-1" style="float: right;">
						<a href="user.html">我的艺格</a>
					</div>
					<div class="col-md-1" style="float: right;">我的收藏</div>
					<div class="col-md-1" style="float: right;">订单查询</div>
				</div>
			</div>
		</div>

		<div class="head" style="margin: 20px 0 20px 0;">
			<div class="head-center" style="justify-content: space-between;">

				<div style="margin-right: 0;">
					<a href="/page/user/index.html"><img src="../../img/yigeshangchenglogo.png"></a>
				</div>

				<div class="divcenter">
					<div class="input-group" style="max-width:400px;min-width:100px;">
						<input placeholder="水粉颜料" type="text" class="form-control" style="border: 2px solid #987E46;">
						<span class="input-group-btn">
		                        <button class="btn btn-default" type="button" style="color: #fff;background-color: #987E46;border: 1px solid #987E46;">搜索</button>
		                    </span>
					</div>
				</div>

				<a href="#" class="divcenter" style="font-size:15px;color: #666;border: 1px solid #E6E6E6;width: 132px;height: 38px;background-color: #F2F2F2;">
					<img src="../../img/carts.png" style="margin-right: 10px;" /> 购物车
				</a>

			</div>
		</div>

		<div class="head" style="background-color: #181818;">
			<div class="head-center" style="padding: 0;background-color:#181818 ;height: auto;">
				<ul class="nav navbar-nav">
					<li class="active" style="background-color: #484848;">
						<a href="#" style="padding: 15px 50px 15px 50px;">热门商品分类</a>
					</li>
					<li>
						<a href="/page/user/index.html" style="padding: 15px 30px ;">首页</a>
					</li>
					<li>
						<a href="#" style="padding: 15px 30px ;">美术生专区</a>
					</li>
					<li>
						<a href="#" style="padding: 15px 30px ;">音乐生专区</a>
					</li>
					<li>
						<a href="#" style="padding: 15px 30px ;">舞蹈生专区</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="app" class="block clearfix">
			<div id="ur_here">
				<a href="/page/user/index.html">首页</a> <code>&gt;</code>
				<font class="ufont">个人中心</font>
			</div>
            <!--左边栏-->
			<div class="userl" style="background-color: #fff;">
				<div class="side-nav my-side">
					<div class="user-info">
						<a href="#">
							<img v-bind:src="staticUser.icon" style="width: 38px;height: 38px;">
						</a>
                        <div  style="height: 24px;width: 168px;">
						<p v-cloak>用户{{staticUser.telephone}}</p>
                        </div>
					</div>
					<div class="clearfix"></div>
					<div class="ueseinfo">
						<div class="to_hidden">

						</div>
					</div>
					<div class="clearfix"></div>
                    <!--侧边栏-->
					<dl>
						<dt>我的艺格</dt>
						<dd>
							<a href="/page/user/user.html?tab=1"  v-bind:class="{curs : tab==1}">订单中心</a>
						</dd>
						<dd>
							<a href="/page/user/user.html?tab=2"  v-bind:class="{curs : tab==2}">评论晒单</a>
						</dd>
						<dt>个人账户</dt>
						<dd>
							<a href="/page/user/user.html?tab=4"  v-bind:class="{curs : tab==4}">个人资料</a>
						</dd>
						<dd>
							<a href="/page/user/user.html?tab=5"  v-bind:class="{curs : tab==5}">修改密码</a>
						</dd>
						<dd>
							<a href="/page/user/user.html?tab=6"  v-bind:class="{curs : tab==6||tab=='6_1'}">地址管理</a>
						</dd>

						<dt>售后服务</dt>
						<dd>
							<a href="#">退款退货</a>
						</dd>

					</dl>

				</div>
			</div>
            <!--右边内容部分-->
			<div class="userr">
                <!--订单状态tab-->
				<div id="tabline-bar" class="tabline" v-if="tab==1" v-cloak>
					<h2 class="" v-on:click="orderTab=-1">全部订单</h2>
					<h2 class="h2bg" v-on:click="orderTab=0">待付款</h2>
					<h2 class="h2bg" v-on:click="orderTab=1">待发货</h2>
					<h2 class="h2bg" v-on:click="orderTab=2">待收货</h2>
					<h2 class="h2bg" v-on:click="orderTab=3">已完成</h2>
					<h2 class="h2bg" v-on:click="orderTab=4">已取消</h2>
				</div>
                <!--评价状态tab-->
                <div id="tabline-bar2" class="tabline" v-if="tab==2" v-cloak>
                    <h2 class="" v-on:click="commentTab=0">待评论</h2>
                    <h2 class="h2bg" v-on:click="commentTab=1">待追评</h2>
                    <h2 class="h2bg" v-on:click="commentTab=2">已追评</h2>
                </div>
				<!--订单中心-->
				<div class="clearfix" style="height: 365px;position: relative;display: flex;flex-direction: column;align-items: center;" v-if="tab==1" v-cloak>
					<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData table table-hover ">
						<tbody>
							<tr style="background-color: #F5F5F5;">
								<th>订单号</th>
								<th>下单时间</th>
								<th>订单总金额</th>
								<th>订单状态</th>
								<th>操作</th>
							</tr>
							<tr v-for="order in orders" v-cloak>
								<td align="center">
									<a v-bind:href="order.href" class="f0">{{order.id}}</a>
								</td>
								<td align="center">{{order.createTime}}</td>
								<td align="center">{{order.realTotalMoney}}</td>
								<td align="center" v-if="order.status==0">待付款</td>
                                <td align="center" v-if="order.status==1">待发货</td>
                                <td align="center" v-if="order.status==2">待收货</td>
                                <td align="center" v-if="order.status==3">已完成</td>
                                <td align="center" v-if="order.status==4">已取消</td>
								<td align="center">
										<a v-bind:href="'/page/user/user.html?tab=1_2&orderId='+order.id">查看详情</a>
										<a href="#" v-if="order.status==0">&nbsp;&nbsp;付款</a>
                                        <a href="#" v-if="order.status==2">&nbsp;&nbsp;确认收货</a>
										<a href="#" v-if="order.status!=2&&order.status!=3&&order.status!=4">&nbsp;&nbsp;取消订单</a>
								</td>
							</tr>
						</tbody>
					</table>
                    <!--分页-->
					<div class="page-bar" style="position: absolute;bottom: 0;" v-if="all>1">
						<div style="margin: auto;width:450px;">
							<ul v-cloak>
								<li v-if="cur>1">
									<a v-on:click="cur--,pageClick()">上一页</a>
								</li>
								<li v-if="cur==1">
									<a class="banClick">上一页</a>
								</li>
								<li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
									<a v-on:click="btnClick(index)">{{ index }}</a>
								</li>
								<li v-if="cur!=all">
									<a v-on:click="cur++,pageClick()">下一页</a>
								</li>
								<li v-if="cur == all">
									<a class="banClick">下一页</a>
								</li>
								<li>
									<a>共<i>{{all}}</i>页</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<!--查看订单详情-->
                <div class="clearfix" style="position: relative;display: flex;flex-direction: column;align-items: start;" v-if="tab=='1_2'" v-cloak>
                    <!--返回按钮-->
                    <a href="/page/user/user.html?tab=1" style="font-size:14px;font-weight:bold;color:#717171;padding:4px;margin-bottom: 6px;" name="submit" v-if="tab=='1_2'"><code style="background-color: rgba(0,0,0,0);">&lt;　</code>返回订单列表</a>
                    <!--订单流程图-->
                    <div class="order-detail-div">
                        <div class="order-detail-panel" style="width:250px;height: 160px;justify-content: flex-start;align-items: center;">
                            <div style="margin-bottom: 28px;">
                                <span style="color: #787878;font-size: 14px;">订单号：{{selectedOrder.id}}</span>
                            </div>
                            <div>
								<span style="font: 700 24px/34px 'Microsoft YaHei';color: #B4995D;" v-if="orderState==0">待付款</span>
                                <span style="font: 700 24px/34px 'Microsoft YaHei';color: #B4995D;" v-if="orderState==1">待发货</span>
								<span style="font: 700 24px/34px 'Microsoft YaHei';color: #B4995D;" v-if="orderState==2">待收货</span>
								<span style="font: 700 24px/34px 'Microsoft YaHei';color: #B4995D;" v-if="orderState==3">完成</span>
								<span style="font: 700 24px/34px 'Microsoft YaHei';color: #B4995D;" v-if="orderState==4">已取消</span>
                            </div>
                        </div>
                        <div style="display: flex;flex-direction: column;justify-content: center; width: 100%;">
                            <div style="display: flex;flex-direction:row;width: 100%;height: 120px;padding: 0 20px;justify-content:  center;">
                                <!--提交订单-->
                                <div style="display: flex;flex-direction:column;align-items:center;height: 100%;">
									<div style="display: flex;flex-direction:column;align-items:center;justify-content: center;width: 50px;height: 50px;">
										<img src="../../img/putorder.png">
									</div>
                                    <div style="font-size: 14px;margin-top: 5px;">
                                        提交订单
                                    </div>
                                    <div v-if="process_put!=''">
                                        {{selectedOrder.createTime.substring(0,10)}}
                                    </div>
									<div v-if="process_put!=''">
										{{selectedOrder.createTime.substring(11)}}
									</div>
                                </div>
                                <!--箭头-->
                                <div style="height: 100%;padding: 16px 0;" v-if="process_put!=''">
									    <img src="../../img/proce.png">
                                </div>
                                <!--付款状态-->
								<div style="display: flex;flex-direction:column;align-items:center;height: 100%;">
                                    <div style="display: flex;flex-direction:column;align-items:center;justify-content: center;width: 50px;height: 50px;">
                                        <img src="../../img/nopay.png" v-if="process_pay==''&&process_cancel==''">
                                        <img src="../../img/pay.png" v-if="process_pay!=''||process_cancel!=''">
                                    </div>
                                    <div style="font-size: 14px;margin-top: 5px;" v-if="process_pay==''">
                                        等待付款
                                    </div>
									<div style="font-size: 14px;margin-top: 5px;" v-if="process_pay!=''">
										付款成功
									</div>
									<div v-if="process_pay!=''">
										{{process_pay.createTime.substring(0,10)}}
									</div>
									<div v-if="process_pay!=''">
										{{process_pay.createTime.substring(11)}}
									</div>
								</div>
                                <!--箭头-->
                                <div style="height: 100%;padding: 16px 0;" v-if="process_pay!=''">
                                    <img src="../../img/proce.png">
                                </div>
                                <!--等待发收货-->
                                <div style="display: flex;flex-direction:column;align-items:center;height: 100%;" v-if="process_pay!=''">
                                    <div style="display: flex;flex-direction:column;align-items:center;justify-content: center;width: 50px;height: 50px;">
                                        <img src="../../img/notout.png" v-if="process_pay!=''&&process_send==''&&process_cancel==''">
                                        <img src="../../img/nosend.png" v-if="process_send!=''&&process_done==''">
                                        <img src="../../img/sended.png" v-if="process_send!=''&&process_done!=''">
                                        <img src="../../img/send.png" v-if="process_pay!=''&&process_send==''&&process_cancel!=''">
                                    </div>
                                    <div style="font-size: 14px;margin-top: 5px;" v-if="process_pay!=''&&process_send==''">
                                        等待发货
                                    </div>
                                    <div style="font-size: 14px;margin-top: 5px;" v-if="process_send!=''">
                                        已发货
                                    </div>
                                    <div v-if="process_send!=''">
                                        {{process_send.createTime.substring(0,10)}}
                                    </div>
                                    <div v-if="process_send!=''">
                                        {{process_send.createTime.substring(11)}}
                                    </div>
                                </div>
                                <!--箭头-->
                                <div style="height: 100%;padding: 16px 0;" v-if="process_done!=''||process_cancel!=''">
                                    <img src="../../img/proce.png">
                                </div>
                                <!--完成或取消-->
                                <div style="display: flex;flex-direction:column;align-items:center;height: 100%;">
                                    <div style="display: flex;flex-direction:column;align-items:center;justify-content: center;width: 50px;height: 50px;">
                                        <img src="../../img/done.png" v-if="process_done!=''">
                                        <img src="../../img/cancel.png" v-if="process_cancel!=''">
                                    </div>
                                    <div style="font-size: 14px;margin-top: 5px;" v-if="process_done!=''">
                                        完成
                                    </div>
                                    <div style="font-size: 14px;margin-top: 5px;" v-if="process_cancel!=''">
                                        已取消
                                    </div>
                                    <div v-if="process_done!=''">
                                        {{process_done.createTime.substring(0,10)}}
                                    </div>
                                    <div v-if="process_done!=''">
                                        {{process_done.createTime.substring(11)}}
                                    </div>
                                    <div v-if="process_cancel!=''">
                                        {{process_cancel.createTime.substring(0,10)}}
                                    </div>
                                    <div v-if="process_cancel!=''">
                                        {{process_cancel.createTime.substring(11)}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--订单内容-->
                    <div class="order-detail-div">
                        <div class="order-detail-panel">
                            <h4>收货人信息</h4>
                            <div class="order-detail">
                                <span>收货人：</span>
                                <div>{{selectedOrder.receiverName}}</div>
                            </div>
                            <div class="order-detail">
                                <span>地址：</span>
                                <div>{{selectedOrder.province+selectedOrder.city+selectedOrder.county+selectedOrder.detail}}</div>
                            </div>
                            <div class="order-detail">
                                <span>手机号码：</span>
                                <div>{{selectedOrder.receiverTel}}</div>
                            </div>
                        </div>
                        <div class="order-detail-panel">
                            <h4>配送信息</h4>
                            <div class="order-detail">
                                <span>运费：</span>
                                <div v-if="process_put!=''">¥{{selectedOrder.carriage.toFixed(2)}}</div>
                            </div>
                            <div class="order-detail">
                                <span>发货日期：</span>
                                <div v-if="process_send!=''">{{process_send.createTime.substring(0,10)}}</div>
                                <div v-if="process_send==''">- -</div>
                            </div>
                            <div class="order-detail">
                                <span>收货日期：</span>
                                <div v-if="process_done!=''">{{process_done.createTime.substring(0,10)}}</div>
                                <div v-if="process_done==''">- -</div>
                            </div>
                        </div>
                        <div class="order-detail-panel" style="border-right-width: 0;">
                            <h4>付款信息</h4>
                            <div class="order-detail">
                                <span>付款时间：</span>
                                <div v-if="process_pay!=''">{{process_pay.createTime}}</div>
                                <div v-if="process_pay==''">- -</div>
                            </div>
                            <div class="order-detail">
                                <span>商品总额：</span>
                                <div v-if="process_put!=''">¥{{selectedOrder.goodsTotalMoney.toFixed(2)}}</div>
                            </div>
                            <div class="order-detail">
                                <span>应支付金额：</span>
                                <div v-if="process_put!=''">¥{{selectedOrder.realTotalMoney.toFixed(2)}}</div>
                            </div>
                        </div>
                    </div>
                    <!--订单商品列表-->
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData table table-hover ">
                        <tbody>
                        <tr style="background-color: #F5F5F5;">
                            <th>商品</th>
                            <th>商品编号</th>
                            <th>单价</th>
                            <th>商品数量</th>
                            <th>操作</th>
                        </tr>
                        <tr style="height: 70px;" v-for="good in orderDetails" v-cloak>
                            <td style="vertical-align: middle;width: 400px;text-align: center;color: #333;padding: 20px 40px;">{{good.goodsName}}</td>
                            <td align="center" style="vertical-align: middle;">
                                <a v-bind:href="good.id" class="f0">{{good.id}}</a>
                            </td>
                            <td style="vertical-align: middle;color: #333;" align="center" v-if="process_put!=''">¥{{good.price.toFixed(2)}}</td>
                            <td style="vertical-align: middle;color: #333;" align="center">{{good.count}}</td>
                            <td style="vertical-align: middle;color: #333;" align="center">
                                <a href="#" v-on:click="" v-if="process_done!=''">申请售后</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--商品总结-->
                    <div class="goods-total">
                        <ul>
                            <li>
                                <span class="label">商品总额：</span>
                                <span class="txt" v-if="process_put!=''">¥{{selectedOrder.goodsTotalMoney.toFixed(2)}}</span>
                            </li>
                            <li>
                                <span class="label">运　　费：</span>
                                <span class="txt" v-if="process_put!=''">
                	                        ¥{{selectedOrder.carriage.toFixed(2)}}
                                </span>
                            </li>
                            <li class="ftx-01">
                                <span class="label" style="color: #e4393c;">应付总额：</span>
                                <span class="txt count" v-if="process_put!=''">¥{{selectedOrder.realTotalMoney.toFixed(2)}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
				<!--评论列表-->
				<div class="clearfix" style="height: 680px;position: relative;display: flex;flex-direction: column;align-items: center;" v-if="tab==2" v-cloak>
                    <!--待评价表格-->
                    <table v-if="commentTab==0" width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData table table-hover " v-cloak>
                        <tbody>
                        <tr style="background-color: #F5F5F5;" v-cloak>
                            <th>商品</th>
                            <th>订单详情编号</th>
                            <th>单价</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="(comment,index) in comments" v-cloak>
                            <td  style="vertical-align: text-top;width: 300px;">
                                <img v-bind:src="comment.goodsImg.imgUrl" style="float:left;height: 80px;vertical-align: middle;margin-right: 15px;">
                                <div>
                                    <a v-bind:href="'/page/user/goodsdetail.jsp?id='+comment.goodsNumber" class="f0">{{comment.goodsName}}</a>
                                </div>
                            </td>
                            <td align="center" style="vertical-align: middle;width: 200px;">{{comment.id}}</td>
                            <td align="center" style="vertical-align: middle;">{{comment.price}}</td>
                            <td align="center" style="vertical-align: middle;">
                                <a href="#" v-on:click="selectedComment=comment,tab='2_1',imgShow=false,file='',img=''">去评价</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--待追评表格-->
					<table v-if="commentTab==1" width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData table table-hover " v-cloak>
						<tbody>
						<tr style="background-color: #F5F5F5;" v-cloak>
							<th>商品</th>
							<th>商品编号</th>
							<th>单价</th>
							<th>操作</th>
						</tr>
						<tr v-for="comment in comments" v-cloak>
							<td style="vertical-align: text-top;width: 300px;">
                                <img v-bind:src="comment.goodsImg.imgUrl" style="float:left;height: 80px;vertical-align: middle;margin-right: 15px;">
                                <div>
								    <a v-bind:href="'/page/user/goodsdetail.jsp?id='+comment.orderDetail.goodsNumber" class="f0">{{comment.orderDetail.goodsName}}</a>
                                </div>
                            </td>
							<td align="center" style="vertical-align: middle;width: 200px;">{{comment.orderDetail.goodsNumber}}</td>
							<td align="center" style="vertical-align: middle;">{{comment.orderDetail.price}}</td>
							<td align="center" style="vertical-align: middle;">
								<a href="#">添加追评</a>
							</td>
						</tr>
						</tbody>
					</table>
					<!--已追评表格-->
                    <table v-if="commentTab==2" width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData table table-hover " v-cloak>
                        <tbody>
                        <tr style="background-color: #F5F5F5;" v-cloak>
                            <th>商品</th>
                            <th>商品编号</th>
                            <th>单价</th>
                            <th>操作</th>
                        </tr>
                        <tr v-for="comment in comments" v-cloak>
                            <td style="vertical-align: text-top;width: 300px;">
                                <img v-bind:src="comment.goodsImg.imgUrl" style="float:left;height: 80px;vertical-align: middle;margin-right: 15px;">
                                <div>
                                    <a v-bind:href="'/page/user/goodsdetail.jsp?id='+comment.goodsNumber" class="f0">{{comment.goodsName}}</a>
                                </div>
                            </td>
                            <td align="center" style="vertical-align: middle;width: 200px;">{{comment.goodsNumber}}</td>
                            <td align="center" style="vertical-align: middle;">{{comment.price}}</td>
                            <td align="center" style="vertical-align: middle;">
                                <a v-bind:href="'/page/user/goodsdetail.jsp?id='+comment.goodsNumber">查看详情</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <!--分页-->
					<div class="page-bar" style="" v-if="all>1">
						<div style="margin: auto;width:450px;">
							<ul v-cloak>
								<li v-if="cur>1">
									<a v-on:click="cur--,pageClick()">上一页</a>
								</li>
								<li v-if="cur==1">
									<a class="banClick">上一页</a>
								</li>
								<li v-for="index in indexs" v-bind:class="{ 'active': cur == index}">
									<a v-on:click="btnClick(index)">{{ index }}</a>
								</li>
								<li v-if="cur!=all">
									<a v-on:click="cur++,pageClick()">下一页</a>
								</li>
								<li v-if="cur == all">
									<a class="banClick">下一页</a>
								</li>
								<li>
									<a>共<i>{{all}}</i>页</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
                <!--评论-->
                <div class="clearfix" style="_height:1%;" v-if="tab=='2_1'" v-cloak>
                    <div class="title" id="comment">商品评价</div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData">
                        <tbody><tr>
                            <td align="center" style="vertical-align: text-top;">
                                <div style="width: 250px;margin-top: 15px;">
                                    <img v-bind:src="selectedComment.goodsImg.imgUrl" style="height: 200px;vertical-align: middle;margin-bottom: 15px;">
                                    <div>
                                        <a v-bind:href="'/page/user/goodsdetail.jsp?id='+selectedComment.goodsNumber" class="f0">{{selectedComment.goodsName}}</a>
                                    </div>
                                    <div style="font-size: 18px;font-weight:bold;color: #e2231a;margin-top: 15px;">
                                        ¥{{selectedComment.price}}
                                    </div>
                                </div>
                            </td>
                            <td style="">
                            <!--评论的标题-->
                            <!--<div class="address_add" v-if="tab=='2_1'" style="margin: 0;">初次评价</div>-->
                            <!--追评的标题-->
                            <!--<div class="address_add" v-if="tab=='2_2'">追加评价</div>-->
                            <!--初次评论-->
                            <div class="address_pad" v-if="tab=='2_1'">
                                <table border="0" cellpadding="0" cellspacing="0" style="margin-top: 5px;">
                                    <form method="post" name="theForm"></form>
                                    <tbody>
                                    <tr>
                                        <td align="left" style="font-weight: bold;">
                                            商品质量：
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <label class="radio-inline"><input v-model="commentClass" name="commentClass" type="radio" value="2" />好评 </label>
                                            <label class="radio-inline"><input v-model="commentClass" name="commentClass" type="radio" value="1" />中评 </label>
                                            <label class="radio-inline"><input v-model="commentClass" name="commentClass" type="radio" value="0" />差评 </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left" style="font-weight: bold;">
                                            服务质量：
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <label class="radio-inline"><input v-model="serviceClass" name="serviceClass" type="radio" value="2" />好评 </label>
                                            <label class="radio-inline"><input v-model="serviceClass" name="serviceClass" type="radio" value="1" />中评 </label>
                                            <label class="radio-inline"><input v-model="serviceClass" name="serviceClass" type="radio" value="0" />差评 </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <textarea v-model="commentContext" placeholder="写下你的评论吧~" maxlength="120" rows="5" cols="50" name="comment" style="line-height: 18px;padding: 8px;"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <img id="commentImg" style="height: 80px;margin-bottom: 10px;" v-bind:src="img" v-show="imgShow">
                                            <!--此处为图片上传-->
                                            <input style="display: none;" type="file" id="commentInputFile" v-on:change="getFile($event),showImg($event)">
                                            <input onclick="commentInputFile.click()" type="button" class="btn" style="color:#6c6c6c;background-color: #e0e0e0;font-size: 12px;padding: 4px 8px;border:1px solid #afafaf;" value="上传图片">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <input v-on:click="uploadCommentImg()" type="button" name="submit2" class="bnt_submit" value="发表">
                                            <input v-on:click="tab='2'" type="button" name="submit" class="bnt_submit" value="取消" style="margin-left: 30px;">
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </div>
                        </td></tr></tbody></table>
                </div>
                <!--个人资料-->
				<div class="clearfix" style="_height:1%;" v-if="tab==4" v-cloak>
					<div class="title">个人资料</div>
					<form class="form-horizontal" style="border:1px solid #E8E8E8;border-top:0;padding: 20px 250px;background-color: #fff;">
                        <div class="form-group">
                            <label for="exampleInputFile" class="col-sm-2 control-label">头像</label>
                            <div class="col-sm-10">
								<img id="userImg" style="height: 48px;width: 48px;margin-bottom: 10px;" v-bind:src="img" v-show="imgShow">
                                <!--此处为图片上传-->
								<input style="display: none;" type="file" id="exampleInputFile" v-on:change="getFile($event),showImg($event)">
                                <input onclick="exampleInputFile.click()" type="button" class="btn" style="color:#6c6c6c;background-color: #e0e0e0;font-size: 12px;padding: 4px 8px;border:1px solid #afafaf;" value="选择图片">
                            </div>
                        </div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">昵称</label>
							<div class="col-sm-10">
								<input v-model="user.nickName" type="text" class="form-control" id="inputEmail" placeholder="昵称">
							</div>
						</div>
						<div class="form-group">
							<label for="inputEmail3" class="col-sm-2 control-label">电子邮箱</label>
							<div class="col-sm-10">
								<input v-model="user.email" type="email" class="form-control" id="inputEmail3" placeholder="电子邮箱">
							</div>
						</div>
						<div class="form-group">
							<label for="inputPassword3" class="col-sm-2 control-label">手机号码</label>
							<div class="col-sm-10">
								<input v-model="user.telephone" type="text" class="form-control" id="inputPassword3" placeholder="手机号码">
							</div>
						</div>

						<div class="form-group">
							<label for="exampleInputFile" class="col-sm-2 control-label">性别</label>
							<div class="col-sm-10">
								<label class="radio-inline">
							<input v-model="user.sex" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="-1" > 保密
						</label>
								<label class="radio-inline">
							<input v-model="user.sex" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" > 男
						</label>
								<label class="radio-inline">
							<input v-model="user.sex" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="1" > 女
						</label>
							</div>
						</div>

						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<input v-on:click="uploadImg()" type="button" class="btn" style="color:#fff;background-color: #B4995D;" value="确认修改">
							</div>
						</div>
					</form>
					<div class="blank"></div>

				</div>
				<!--修改密码-->
				<div class="clearfix" style="_height:1%;" v-if="tab==5" v-cloak>
					<div class="title">修改密码</div>
					<form name="formPassword" method="post">
						<table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData">
							<tbody>
								<tr>
									<td align="right"></td>
									<td align="left"></td>
								</tr>
								<tr>
									<td align="right"><label for="old_password">原密码：</label></td>
									<td align="left"><input v-model="oldPwd" id="old_password" name="old_password" type="password" size="25" class="inputbg">　您之前使用的密码</td>
								</tr>
								<tr>
									<td align="right"><label for="new_password">新密码：</label></td>
									<td align="left"><input v-model="newPwd" id="new_password" name="new_password" type="password" size="25" class="inputbg">　您要设置的新密码，必须为6位以上16位以下字母和数字的组合</td>
								</tr>
								<tr>
									<td align="right"><label for="comfirm_password">确认密码：</label></td>
									<td align="left"><input v-model="reNewPwd" id="comfirm_password" name="comfirm_password" type="password" size="25" class="inputbg">　重复密码和新密码要一致</td>
								</tr>
								<tr>
									<td><input name="act" type="hidden" value="act_edit_password"></td>
									<td><input v-on:click="judgePwd()" name="submit" type="button" class="bnt_submit" value="确认修改"></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
                <!--地址管理-->
                <div class="clearfix" style="_height:1%;" v-if="tab==6||tab=='6_1'||tab=='6_2'" v-cloak>
                    <div class="title">地址管理</div>
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="tabelData">
                        <tbody><tr><td style="padding-top: 20px;">
							<!--新增地址的标题-->
							<div class="address_add" v-if="tab=='6_1'">新增收货地址
								<span>（带 <em>*</em>均为必填）</span>
							</div>
                            <!--修改地址的标题-->
                            <div class="address_add" v-if="tab=='6_2'">修改收货地址
                                <span>（带 <em>*</em>均为必填）</span>
                            </div>
							<!--新增地址-->
							<div class="address_pad" v-if="tab=='6_1'||tab=='6_2'">
								<table border="0" cellpadding="0" cellspacing="0">
									<form method="post" name="theForm"></form>
									<tbody><tr>
										<td class="td_label"><span class="f0">*</span> 姓名：</td>
										<td align="left"><input v-model="receiverName" name="consignee" type="text" class="inputbg">　<span class="f16">请填写您的真实姓名，最多5个汉字</span></td>
									</tr>
									<tr><td class="td_label">配送区域：</td>
										<td colspan="3" align="left">
											<select v-model="prov" name="province" id="selProvinces_8"  class="inputbg">
												<option v-for="option in arr" :value="option.name">
													{{ option.name }}
												</option>
											</select>
											<select v-model="city" name="city" id="selCities_8"  class="inputbg">
												<option v-for="option in cityArr" :value="option.name">
													{{ option.name }}
												</option>
											</select>
											<select v-model="district" v-if="district" name="district" id="selDistricts_8" class="inputbg">
												<option v-for="option in districtArr" :value="option.name">
													{{ option.name }}
												</option>
											</select>
										</td>
									</tr>
									<tr>
										<td class="td_label"><span class="f0">*</span> 街道地址：</td>
										<td align="left"><input v-model="detail" name="address" class="inputbg" size="60"></td>
									</tr>
									<tr>
										<td class="td_label"><span class="f0">*</span> 手机号码：</td>
										<td align="left"><input v-model="receiverTel" name="mobile" type="text" class="inputbg">　<span class="f16">如：13888888888，填写正确手机号便于接收发货和收货通知</span></td>
									</tr>
									<tr>
										<td class="td_label">邮政编码：</td>
										<td align="left"><input v-model="postalCode" name="zipcode" type="text" class="inputbg"></td>
									</tr>
									<tr>
										<td class="td_label">常用地址：</td>
										<td><input v-model="frequentlyAddress" type="checkbox" name="default" ></td>
									</tr>
									<tr>
										<td align="right"></td>
										<td colspan="4">
											<input v-on:click="judgeAddress()" type="button" name="submit" class="bnt_submit" value="保存">
                                            <input v-on:click="tab='6'" type="button" name="submit" class="bnt_submit" value="取消" style="margin-left: 30px;">
                                        </td>
									</tr>
									</tbody></table>
							</div>
							<a href="#" v-on:click="tab='6_1'" style="font-size:14px;font-weight:bold;color:#fff;padding:8px;background-color:#B4995D;margin-left:12px;margin-bottom: 10px;" name="submit" v-if="tab=='6'">新建收货地址</a>
                            <!--收货地址列表-->
							<div class="consignee_list" style="margin: 8px auto;" v-if="tab==6">
                                <dl v-for="(address,index) in addressList" style="height: 125px;background-color: #fff;border-width: 2px" v-cloak>
                                    <dt style="line-height: 22px;" >
                                    <div style="display: flex;flex-direction: row;">
                                        <span style="color: #999;">收货人：</span>
                                        <p style="color: #666;">{{address.receiverName}}</p>
                                    </div>
                                    <div style="display: flex;flex-direction: row;">
                                        <span style="color: #999;">收货地址：</span>
                                        <p style="color: #666;">{{address.province}}{{address.city}}{{address.county}} {{address.detail}}</p>
                                    </div>
                                    <div style="display: flex;flex-direction: row;">
                                        <span style="color: #999;">手机号码：</span>
                                        <p style="color: #666;">{{address.receiverTel}}</p>
                                    </div>
                                    <div style="display: flex;flex-direction: row;">
                                        <span style="color: #999;">邮政编码：</span>
                                        <p style="color: #666;">{{address.postalCode}}</p>
                                    </div>
                                    </dt>
                                    <dd style="line-height: 22px;">
                                        <a href="#" v-on:click="selectedAddress=address, tab='6_2', selected()">修改</a>
                                        &nbsp;|&nbsp;
                                        <a href="#" v-on:click="askDelete(address.id)">删除</a>
                                        <br>
                                        <span v-if="address.status==1">已设为常用地址</span>
                                    </dd>
                                </dl>
                            </div>
                        </td></tr></tbody></table>
                </div>
			</div>

		</div>
        <div style="margin: 120px auto 0 auto; width:100%;background-color: #fff;text-align: center;">
		    <img src="../../img/xuanchuankouhao.png" style="margin: 0 auto;width: 1195px; height: 132px;">
        </div>
        <div class="nav_botttom" style="background-color:#000;margin-top: 0;color:#fff;">
            <div class="block">
                <div class="footlinks f_l">
                    <a rel="nofollow" href="#" title="关于呐喊" target="_blank">关于呐喊</a> |
                    <a rel="nofollow" href="#" title="反馈建议">反馈建议</a> |
                    <a href="#" target="_blank">网站地图</a>
                </div>
                <div class="copyright f_r">

                    ©2018 艺格商城
                </div>
            </div>
        </div>
		<script type="text/javascript" src="../../js/user.js"></script>
		<script type="text/javascript" src="../../js/pagination.js"></script>
	</body>
<style>
    body .demo-class .layui-layer-btn .layui-layer-btn0 {
        border-color: #B4995D;
        background-color: #B4995D;
        color: #fff;
    }
</style>
</html>