<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.ygmall.dao.AccountMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.ygmall.pojo.Account" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="state" property="state" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="login_time" property="loginTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, password, salt, type, state, create_time, login_time
  </sql>

   <!--用于查询单次购买用户和多次购买用户-->
    <select id="selectFirAndSec" resultType="cn.myzqu.ygmall.dto.FirAndSecDTO">
        SELECT * FROM
        (SELECT COUNT(*) sec_buy
        FROM
        (SELECT o1.id
        FROM `order` o1 ,`order` o2
        WHERE
        o1.id &lt;&gt; o2.id
        AND
        o1.user_id = o2.user_id
        GROUP BY
        o1.user_id)A)C
        INNER JOIN
        (SELECT COUNT(*) fir_buy
        FROM
        (SELECT *
        FROM `order`
        GROUP BY
        `order`.user_id)B)D
    </select>

  <!--用于查询最近一周的新增用户数-->
  <select id="selectNewUser" resultType="java.lang.Integer">
    SELECT COUNT(*) AS new_user FROM account WHERE
    create_time
    &gt;=
    DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 7 DAY), '%Y-%m-%d 00:00:00')
    AND
    create_time
    &lt;=
    DATE_FORMAT( DATE_SUB(CURDATE(), INTERVAL 1 DAY), '%Y-%m-%d 23:59:59')
  </select>

    <!--用于查询付费用户数和总用户数-->
  <select id="selectUserAndPayUser" resultType="cn.myzqu.ygmall.dto.UserAndPayUserDTO">
    SELECT * FROM
    (SELECT COUNT(DISTINCT user_id) AS pay_user FROM `order` WHERE `order`.`status` = 4)A
    INNER JOIN
    (SELECT COUNT(*) AS user_count FROM account)B
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from account
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from account
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="cn.myzqu.ygmall.pojo.Account" >
    insert into account (id, password, salt, 
      type, state, create_time, 
      login_time)
    values (#{id,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{salt,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{state,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{loginTime,jdbcType=TIMESTAMP})
  </insert>

  <insert id="insertSelective" parameterType="cn.myzqu.ygmall.pojo.Account" >
    insert into account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="salt != null" >
        salt,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="loginTime != null" >
        login_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null" >
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.myzqu.ygmall.pojo.Account" >
    update account
    <set >
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="loginTime != null" >
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.myzqu.ygmall.pojo.Account" >
    update account
    set password = #{password,jdbcType=VARCHAR},
      salt = #{salt,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      state = #{state,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      login_time = #{loginTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>