<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.ygmall.dao.AfterSaleMapper">
    <resultMap id="BaseResultMap" type="cn.myzqu.ygmall.pojo.AfterSale">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="order_id" property="orderId" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="reason" property="reason" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="receiver_name" property="receiverName" jdbcType="VARCHAR"/>
        <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <resultMap id="AfterSaleRefundMap" type="cn.myzqu.ygmall.vo.AfterSaleRefundVO" extends="BaseResultMap">
        <association property="refund" javaType="cn.myzqu.ygmall.pojo.Refund">
            <id column="refund_id" property="id" jdbcType="VARCHAR" />
            <result column="serial" property="serial" jdbcType="VARCHAR" />
            <result column="step" property="step" jdbcType="INTEGER" />
            <result column="operator" property="operator" jdbcType="VARCHAR" />
            <result column="ctime" property="createTime" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, order_id, type, reason, description, receiver_name, receiver_tel, status, create_time
  </sql>
    <!--根据售后id查看详情-->
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from after_sale
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--查找售后-->
    <select id="selectAfterSale" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from after_sale
        where 1=1
        <if test="type!=null">
            and type=${type}
        </if>
        <if test="status!=null">
            and status=${status}
        </if>
    </select>


    <!--根据用户ID查询售后列表-->
    <select id="selectAfterSaleByUserId" parameterType="java.lang.String">
        select DISTINCT a.*,r.id refund_id,r.serial,r.step,r.operator,r.create_time ctime
        from order_detail o , after_sale a
        LEFT JOIN refund r on a.id=r.serial
        where o.user_id='6fec14b9f23e42d69f5ae2fbcd1a834e' and o.id=a.order_id
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from after_sale
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="cn.myzqu.ygmall.pojo.AfterSale">
    insert into after_sale (id, order_id, type, 
      reason, description, receiver_name, 
      receiver_tel, status, create_time
      )
    values (#{id,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{reason,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverTel,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.myzqu.ygmall.pojo.AfterSale">
        insert into after_sale
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="reason != null">
                reason,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="receiverName != null">
                receiver_name,
            </if>
            <if test="receiverTel != null">
                receiver_tel,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=TINYINT},
            </if>
            <if test="reason != null">
                #{reason,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="receiverName != null">
                #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="receiverTel != null">
                #{receiverTel,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.myzqu.ygmall.pojo.AfterSale">
        update after_sale
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=TINYINT},
            </if>
            <if test="reason != null">
                reason = #{reason,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="receiverName != null">
                receiver_name = #{receiverName,jdbcType=VARCHAR},
            </if>
            <if test="receiverTel != null">
                receiver_tel = #{receiverTel,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.myzqu.ygmall.pojo.AfterSale">
    update after_sale
    set order_id = #{orderId,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      reason = #{reason,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      receiver_name = #{receiverName,jdbcType=VARCHAR},
      receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>