<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.ygmall.dao.AttributeMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.ygmall.pojo.Attribute" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_id, name
  </sql>

  <!--<select id="selectByCategoriesId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >-->
    <!--select id, category_id, name, parent_level, grand_level from attribute where category_id=#{categoryId}-->
  <!--</select>-->


  <select id="selectByCategoryId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from attribute
    where category_id = #{categoryId,jdbcType=INTEGER}
  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attribute
    where id = #{id,jdbcType=INTEGER}
  </select>



  <delete id="deleteByCategoryId" parameterType="java.lang.Integer" >
    delete from attribute
    where category_id = #{categoryId,jdbcType=INTEGER}
  </delete>



  <insert id="insert" parameterType="cn.myzqu.ygmall.pojo.Attribute" >
    insert into attribute (id, category_id, name
      )
    values (#{id,jdbcType=INTEGER}, #{categoryId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}
      )
  </insert>


  <insert id="insertSelective" parameterType="cn.myzqu.ygmall.pojo.Attribute" >
    insert into attribute
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="name != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.myzqu.ygmall.pojo.Attribute" >
    update attribute
    <set >
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.myzqu.ygmall.pojo.Attribute" >
    update attribute
    set category_id = #{categoryId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>