<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.ygmall.dao.BrandMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.ygmall.pojo.Brand" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from brand
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!--查询品牌记录-->
  <select id="selectBrand" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from brand
    WHERE 1 = 1
      <if test="brandName!=null and brandName!=''">
        AND name LIKE '%${brandName}%'
      </if>
      <if test="brandStatus!=null">
        AND status = ${brandStatus}
      </if>
  </select>

  <!--查询全部品牌-->
    <select id="selectAllBrand" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from brand
    </select>

  <!--根据id删除品牌记录-->
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from brand
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <!--批量删除-->
  <delete id="deleteByIdList" parameterType="java.util.ArrayList">
    delete from brand
    where id in
    <foreach collection="list" item="id"
             open="(" close=")" index="index" separator=",">
      #{id}
    </foreach>
  </delete>

  <insert id="insert" parameterType="cn.myzqu.ygmall.pojo.Brand" >
    insert into brand (id, name, status
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.myzqu.ygmall.pojo.Brand" >
    insert into brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.myzqu.ygmall.pojo.Brand" >
    update brand
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--根据id修改品牌-->
  <update id="updateByPrimaryKey" parameterType="cn.myzqu.ygmall.pojo.Brand" >
    update brand
    set name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>