<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.myzqu.ygmall.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="cn.myzqu.ygmall.pojo.Comment">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_img" jdbcType="VARCHAR" property="userImg"/>
        <result column="goods_score" jdbcType="TINYINT" property="goodsScore"/>
        <result column="service_score" jdbcType="TINYINT" property="serviceScore"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="comment_img" jdbcType="VARCHAR" property="commentImg"/>
        <result column="additional_comment" jdbcType="VARCHAR" property="additionalComment"/>
        <result column="additional_comment_img" jdbcType="VARCHAR" property="additionalCommentImg"/>
        <result column="additional_comment_time" jdbcType="TIMESTAMP" property="additionalCommentTime"/>
        <result column="format_and_style" jdbcType="VARCHAR" property="formatAndStyle"/>
        <result column="display" jdbcType="TINYINT" property="display"/>
        <result column="comment_status" jdbcType="TINYINT" property="commentStatus"/>
    </resultMap>
    <resultMap id="ComRepResultMap" type="cn.myzqu.ygmall.vo.CommentReplyVO" extends="BaseResultMap">
        <association property="replyComment" javaType="cn.myzqu.ygmall.pojo.ReplyComment">
            <id column="id" property="id" jdbcType="VARCHAR" />
            <result column="reply_id" property="replyId" jdbcType="VARCHAR" />
            <result column="reply_name" property="replyName" jdbcType="VARCHAR" />
            <result column="reply_content" property="replyContent" jdbcType="VARCHAR" />
            <result column="reply_time" property="replyTime" jdbcType="TIMESTAMP" />
            <result column="content" property="content" jdbcType="VARCHAR" />
            <result column="creat_time" property="creatTime" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <resultMap id="OrderDetailResultMap" type="cn.myzqu.ygmall.pojo.OrderDetail" >
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="VARCHAR" />
        <result column="goods_number" property="goodsNumber" jdbcType="VARCHAR" />
        <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
        <result column="format_and_style" property="formatAndStyle" jdbcType="VARCHAR" />
        <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="count" property="count" jdbcType="INTEGER" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    </resultMap>
    <resultMap id="ComOrdDetResultMap" type="cn.myzqu.ygmall.vo.ComemntOrderDetailVo">
        <id column="commentId" jdbcType="VARCHAR" property="id"/>
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
        <result column="order_id" jdbcType="VARCHAR" property="orderId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="user_img" jdbcType="VARCHAR" property="userImg"/>
        <result column="goods_score" jdbcType="TINYINT" property="goodsScore"/>
        <result column="service_score" jdbcType="TINYINT" property="serviceScore"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="comment_img" jdbcType="VARCHAR" property="commentImg"/>
        <result column="additional_comment" jdbcType="VARCHAR" property="additionalComment"/>
        <result column="additional_comment_img" jdbcType="VARCHAR" property="additionalCommentImg"/>
        <result column="additional_comment_time" jdbcType="TIMESTAMP" property="additionalCommentTime"/>
        <result column="format_and_style" jdbcType="VARCHAR" property="formatAndStyle"/>
        <result column="display" jdbcType="TINYINT" property="display"/>
        <result column="comment_status" jdbcType="TINYINT" property="commentStatus"/>
        <association property="orderDetail" javaType="cn.myzqu.ygmall.pojo.OrderDetail">
            <id column="id" property="id" jdbcType="VARCHAR" />
            <result column="order_id" property="orderId" jdbcType="VARCHAR" />
            <result column="user_id" property="userId" jdbcType="VARCHAR" />
            <result column="goods_number" property="goodsNumber" jdbcType="VARCHAR" />
            <result column="goods_name" property="goodsName" jdbcType="VARCHAR" />
            <result column="format_and_style" property="formatAndStyle" jdbcType="VARCHAR" />
            <result column="market_price" property="marketPrice" jdbcType="DECIMAL" />
            <result column="price" property="price" jdbcType="DECIMAL" />
            <result column="count" property="count" jdbcType="INTEGER" />
            <result column="status" property="status" jdbcType="TINYINT" />
            <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, goods_id, order_id, user_id, user_name, user_img, goods_score, service_score, 
    create_time, comment, comment_img, additional_comment, additional_comment_img, additional_comment_time, 
    format_and_style, display, comment_status
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <!--用户查看商品详情页的评论与商家回复-->
    <select id="selectByGoodsId" resultMap="ComRepResultMap">
        select r.*,c.*
        from comment c left join reply_comment r on r.reply_id=c.id
        where goods_id=#{goodsId,jdbcType=VARCHAR}
          <if test="goodsScore!=null">
              and c.goods_score=#{goodsScore,jdbcType=TINYINT}
          </if>
        ORDER BY c.create_time
    </select>

    <!--查询可以进行追评的评论-->
    <select id="selectAddCom" parameterType="java.lang.String"  resultMap="ComOrdDetResultMap">
        select o.id,o.goods_name,o.goods_number,o.price,c.id as commentId
        from order_detail o LEFT JOIN `comment` c on c.order_id=o.id
        where o.user_id=#{userId} and c.`comment` is not null and c.additional_comment is null
    </select>
    <!--查询用户是否可以进行评论-->
    <select id="selectCommentByOrder" parameterType="java.lang.String" resultMap="OrderDetailResultMap">
        select o.id,o.goods_name,o.goods_number,o.price
        from order_detail o LEFT JOIN `comment` c on c.order_id=o.id
        where o.user_id=#{userId} and c.id is null
    </select>

    <select id="selectCommentByUserId" parameterType="java.lang.String" resultMap="OrderDetailResultMap">
        select o.id,o.goods_name,o.goods_number,o.price
        from order_detail o LEFT JOIN `comment` c on c.order_id=o.id
        where o.user_id=#{userId} and c.`comment` is not null and c.additional_comment is not null
    </select>

    <!--根据id删除评论-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from comment
    where id = #{id,jdbcType=VARCHAR}
  </delete>

    <insert id="insert" parameterType="cn.myzqu.ygmall.pojo.Comment">
    insert into comment (id, goods_id, order_id, 
      user_id, user_name, user_img, 
      goods_score, service_score, create_time, 
      comment, comment_img, additional_comment, 
      additional_comment_img, additional_comment_time, 
      format_and_style, display, comment_status
      )
    values (#{id,jdbcType=VARCHAR}, #{goodsId,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userImg,jdbcType=VARCHAR}, 
      #{goodsScore,jdbcType=TINYINT}, #{serviceScore,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{comment,jdbcType=VARCHAR}, #{commentImg,jdbcType=VARCHAR}, #{additionalComment,jdbcType=VARCHAR}, 
      #{additionalCommentImg,jdbcType=VARCHAR}, #{additionalCommentTime,jdbcType=TIMESTAMP}, 
      #{formatAndStyle,jdbcType=VARCHAR}, #{display,jdbcType=TINYINT}, #{commentStatus,jdbcType=TINYINT}
      )
  </insert>
    <insert id="insertSelective" parameterType="cn.myzqu.ygmall.pojo.Comment">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="orderId != null">
                order_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userImg != null">
                user_img,
            </if>
            <if test="goodsScore != null">
                goods_score,
            </if>
            <if test="serviceScore != null">
                service_score,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="commentImg != null">
                comment_img,
            </if>
            <if test="additionalComment != null">
                additional_comment,
            </if>
            <if test="additionalCommentImg != null">
                additional_comment_img,
            </if>
            <if test="additionalCommentTime != null">
                additional_comment_time,
            </if>
            <if test="formatAndStyle != null">
                format_and_style,
            </if>
            <if test="display != null">
                display,
            </if>
            <if test="commentStatus != null">
                comment_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userImg != null">
                #{userImg,jdbcType=VARCHAR},
            </if>
            <if test="goodsScore != null">
                #{goodsScore,jdbcType=TINYINT},
            </if>
            <if test="serviceScore != null">
                #{serviceScore,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="commentImg != null">
                #{commentImg,jdbcType=VARCHAR},
            </if>
            <if test="additionalComment != null">
                #{additionalComment,jdbcType=VARCHAR},
            </if>
            <if test="additionalCommentImg != null">
                #{additionalCommentImg,jdbcType=VARCHAR},
            </if>
            <if test="additionalCommentTime != null">
                #{additionalCommentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="formatAndStyle != null">
                #{formatAndStyle,jdbcType=VARCHAR},
            </if>
            <if test="display != null">
                #{display,jdbcType=TINYINT},
            </if>
            <if test="commentStatus != null">
                #{commentStatus,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="cn.myzqu.ygmall.pojo.Comment">
        update comment
        <set>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userImg != null">
                user_img = #{userImg,jdbcType=VARCHAR},
            </if>
            <if test="goodsScore != null">
                goods_score = #{goodsScore,jdbcType=TINYINT},
            </if>
            <if test="serviceScore != null">
                service_score = #{serviceScore,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="commentImg != null">
                comment_img = #{commentImg,jdbcType=VARCHAR},
            </if>
            <if test="additionalComment != null">
                additional_comment = #{additionalComment,jdbcType=VARCHAR},
            </if>
            <if test="additionalCommentImg != null">
                additional_comment_img = #{additionalCommentImg,jdbcType=VARCHAR},
            </if>
            <if test="additionalCommentTime != null">
                additional_comment_time = #{additionalCommentTime,jdbcType=TIMESTAMP},
            </if>
            <if test="formatAndStyle != null">
                format_and_style = #{formatAndStyle,jdbcType=VARCHAR},
            </if>
            <if test="display != null">
                display = #{display,jdbcType=TINYINT},
            </if>
            <if test="commentStatus != null">
                comment_status = #{commentStatus,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="cn.myzqu.ygmall.pojo.Comment">
    update comment
    set goods_id = #{goodsId,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      user_img = #{userImg,jdbcType=VARCHAR},
      goods_score = #{goodsScore,jdbcType=TINYINT},
      service_score = #{serviceScore,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      comment = #{comment,jdbcType=VARCHAR},
      comment_img = #{commentImg,jdbcType=VARCHAR},
      additional_comment = #{additionalComment,jdbcType=VARCHAR},
      additional_comment_img = #{additionalCommentImg,jdbcType=VARCHAR},
      additional_comment_time = #{additionalCommentTime,jdbcType=TIMESTAMP},
      format_and_style = #{formatAndStyle,jdbcType=VARCHAR},
      display = #{display,jdbcType=TINYINT},
      comment_status = #{commentStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--查询评论-->
    <select id="selectComment" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from comment
        WHERE 1=1
        <if test="goodsScore!=null">
            AND goods_score = ${goodsScore}
        </if>
        <if test="commentStatus!=null">
            AND comment_status = ${commentStatus}
        </if>
    </select>

    <!--根据id隐藏评论-->
    <update id="updateDisplayByPrimaryKey" parameterType="cn.myzqu.ygmall.pojo.Comment">
    update comment
    set display = #{display,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
   </update>

    <!--批量隐藏-->
    <update id="updateByIdList" parameterType="java.util.ArrayList">
        update comment
        set display='0'
        where id in
        <foreach close=")" collection="list" index="index" item="id" open="(" separator=",">
            #{id}
        </foreach>
    </update>

    <!--根据评论id更改回复状态-->
    <update id="updateStatusById" parameterType="cn.myzqu.ygmall.dto.CommentDTO">
    update comment
    set comment_status=#{commentStatus}
    where id=#{id}
  </update>
</mapper>