<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.myzqu.ygmall.dao.SpuMapper" >
  <resultMap id="BaseResultMap" type="cn.myzqu.ygmall.pojo.Spu" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="INTEGER" />
    <result column="brand_id" property="brandId" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="sale_count" property="saleCount" jdbcType="INTEGER" />
    <result column="comment_count" property="commentCount" jdbcType="INTEGER" />
    <result column="params" property="params" jdbcType="VARCHAR" />
    <result column="attributes_name" property="attributesName" jdbcType="VARCHAR" />
    <result column="subtitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, category_id, brand_id, createtime, sale_count, comment_count,
    params, attributes_name, subtitle,status
  </sql>


  <select id="selectIdAndName" resultMap="BaseResultMap" parameterType="Map">
    select id,createtime,name,category_id from spu
   <where>
     status=0
    <if test="name!=null and name!=''">
      AND name LIKE '%${name}%'
    </if>
   </where>
  </select>

  <select id="selectAll" resultMap="BaseResultMap" parameterType="Map">
    select
    <include refid="Base_Column_List" />
    from spu
    <where>
      <if test="name!=null and name!=''">
        AND name LIKE '%${name}%'
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from spu
    where id = #{id,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from spu
    where id = #{id,jdbcType=VARCHAR}
  </delete>



  <insert id="insert" parameterType="cn.myzqu.ygmall.pojo.Spu" >
    insert into spu (id, name, category_id, 
      brand_id, createtime,
      sale_count, comment_count, params, 
      attributes_name, subtitle,status)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{brandId,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{saleCount,jdbcType=INTEGER}, #{commentCount,jdbcType=INTEGER}, #{params,jdbcType=VARCHAR}, 
      #{attributesName,jdbcType=VARCHAR}, #{subtitle,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
  </insert>




  <insert id="insertSelective" parameterType="cn.myzqu.ygmall.pojo.Spu" >
    insert into spu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="saleCount != null" >
        sale_count,
      </if>
      <if test="commentCount != null" >
        comment_count,
      </if>
      <if test="params != null" >
        params,
      </if>
      <if test="attributesName != null" >
        attributes_name,
      </if>
      <if test="subtitle != null" >
        subtitle,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="detailId != null" >
        #{detailId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleCount != null" >
        #{saleCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="params != null" >
        #{params,jdbcType=VARCHAR},
      </if>
      <if test="attributesName != null" >
        #{attributesName,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="cn.myzqu.ygmall.pojo.Spu" >
    update spu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleCount != null" >
        sale_count = #{saleCount,jdbcType=INTEGER},
      </if>
      <if test="commentCount != null" >
        comment_count = #{commentCount,jdbcType=INTEGER},
      </if>
      <if test="params != null" >
        params = #{params,jdbcType=VARCHAR},
      </if>
      <if test="attributesName != null" >
        attributes_name = #{attributesName,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subtitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.myzqu.ygmall.pojo.Spu" >
    update spu
    set name = #{name,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      brand_id = #{brandId,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      sale_count = #{saleCount,jdbcType=INTEGER},
      comment_count = #{commentCount,jdbcType=INTEGER},
      params = #{params,jdbcType=VARCHAR},
      attributes_name = #{attributesName,jdbcType=VARCHAR},
      subtitle = #{subtitle,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>