<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增收货地址</title>
</head>
<body>
<div class="address_pad" v-if="tab=='6_1'||tab=='6_2'">
    <table border="0" cellpadding="0" cellspacing="0">
        <form method="post" name="theForm"></form>
        <tbody><tr>
            <td class="td_label"><span class="f0">*</span> 姓名：</td>
            <td align="left"><input v-model="receiverName" name="consignee" type="text" class="inputbg">　<span class="f16">请填写您的真实姓名，最多5个汉字</span></td>
        </tr>
        <tr><td class="td_label">配送区域：</td>
            <td colspan="3" align="left">
                <select v-model="prov" name="province" id="selProvinces_8"  class="inputbg">
                    <option v-for="option in arr" :value="option.name">
                        {{ option.name }}
                    </option>
                </select>
                <select v-model="city" name="city" id="selCities_8"  class="inputbg">
                    <option v-for="option in cityArr" :value="option.name">
                        {{ option.name }}
                    </option>
                </select>
                <select v-model="district" v-if="district" name="district" id="selDistricts_8" class="inputbg">
                    <option v-for="option in districtArr" :value="option.name">
                        {{ option.name }}
                    </option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="td_label"><span class="f0">*</span> 街道地址：</td>
            <td align="left"><input v-model="detail" name="address" class="inputbg" size="60"></td>
        </tr>
        <tr>
            <td class="td_label"><span class="f0">*</span> 手机号码：</td>
            <td align="left"><input v-model="receiverTel" name="mobile" type="text" class="inputbg">　<span class="f16">如：13888888888，填写正确手机号便于接收发货和收货通知</span></td>
        </tr>
        <tr>
            <td class="td_label">邮政编码：</td>
            <td align="left"><input v-model="postalCode" name="zipcode" type="text" class="inputbg"></td>
        </tr>
        <tr>
            <td class="td_label">常用地址：</td>
            <td><input v-model="frequentlyAddress" type="checkbox" name="default" ></td>
        </tr>
        <tr>
            <td align="right"></td>
            <td colspan="4">
                <input v-on:click="judgeAddress()" type="button" name="submit" class="bnt_submit" value="保存">
                <input v-on:click="tab='6'" type="button" name="submit" class="bnt_submit" value="取消" style="margin-left: 30px;">
            </td>
        </tr>
        </tbody></table>
</div>
</body>
</html>