<!doctype html>
<html lang="en">

<head>
	<title>Tables</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
	<!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
	<link rel="stylesheet" href="assets/css/demo.css">
	<!--<link rel="stylesheet" href="../../css/bootstrapValidator.min.css" />-->
	<!--<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
	<link rel="stylesheet" href="../../css/putOnSpu.css" />
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="assets/img/yigeguanli.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<form class="navbar-form navbar-left">
					<!--<div class="input-group">
						<input type="text" value="" class="form-control" placeholder="Search dashboard...">
						<span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
					</div>-->
				</form>
				<div class="navbar-btn navbar-btn-right">
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<!--<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>-->
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-question-circle"></i> <span>Help</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>-->
							<ul class="dropdown-menu">
								<li><a href="#">Basic Use</a></li>
								<li><a href="#">Working With Data</a></li>
								<li><a href="#">Security</a></li>
								<li><a href="#">Troubleshooting</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
						<!-- <li>
							<a class="update-pro" href="#downloads/klorofil-pro-bootstrap-admin-dashboard-template/?utm_source=klorofil&utm_medium=template&utm_campaign=KlorofilPro" title="Upgrade to Pro" target="_blank"><i class="fa fa-rocket"></i> <span>UPGRADE TO PRO</span></a>
						</li> -->
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="dataAnalysis.html" class=""><i class="lnr lnr-home"></i> <span>数据分析</span></a></li>
						<li><a href="goodsAdmin.html" class=""><i class="lnr lnr-code"></i> <span>商品信息管理</span></a></li>
						<li><a href="spuAdmin.html" class=""><i class="lnr lnr-chart-bars"></i> <span>货品信息管理</span></a></li>
						<li><a href="brandAdmin.html" class=""><i class="lnr lnr-cog"></i> <span>品牌管理</span></a></li>
						<li><a href="typeAdmin.html" class=""><i class="lnr lnr-alarm"></i> <span>分类管理</span></a></li>
						<li><a href="attributeAdmin.html" class=""><i class="lnr lnr-alarm"></i> <span>分类规格管理</span></a></li>
						<li>
							<a href="#subPages" data-toggle="collapse" class="active"><i class="lnr lnr-file-empty"></i> <span>商品上架</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages" class="collapse active in">
								<ul class="nav">
									<li><a href="putOnSpu.html" class="active">上架新货品</a></li>
									<li><a href="putOnGoods.html" class="">上架新商品</a></li>
								</ul>
							</div>
						</li>
						<li>
							<a href="#subPages2" data-toggle="collapse" class="collapsed"><i class="lnr lnr-file-empty"></i> <span>商品下架</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
							<div id="subPages2" class="collapse ">
								<ul class="nav">
									<li><a href="putOffSpu.html" class="">下架新货品</a></li>
									<li><a href="putOffGoods.html" class="">下架新商品</a></li>
								</ul>
							</div>
						</li>
						<li><a href="deliverGoods.html" class=""><i class="lnr lnr-dice"></i> <span>商品发货</span></a></li>
						<li><a href="commentAdmin.html" class=""><i class="lnr lnr-pencil"></i> <span>评价管理</span></a></li>
						<li><a href="auditAdmin.html" class=""><i class="lnr lnr-text-format"></i> <span>审核管理</span></a></li>
						<li><a href="refundAdmin.html" class=""><i class="lnr lnr-linearicons"></i> <span>退款管理</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
				<div class="container-fluid">








					<form id="spu_form">
						<div id="app" class="panel spuCategories"  style="width: 29%;position: absolute;right: 10px;">
							<div class="panel-heading" >
								<h3 class="panel-title " style="text-align: right">请选择货品分类<i class="lnr lnr-arrow-down-circle"></i></h3>
							</div>
							<div class="panel-body">
								<ul class="list-unstyled activity-list">
									<template v-for="(val,key) in categoriesL1_2">
										<div class="panel panel-default">
											<div onclick="collapse(this)">
												<span class="" style="background: blue;color: white;font-size: 18px;">{{categoriesid_name[key]}}--</span>
											</div>
											<div class="panel-body son-panel-body">
												<template v-for="l2,index in val">
													<div class="" style="font-size: 17px;color:#3e3eff" onclick="collapse(this)">{{categoriesid_name[l2]}}--</div>
													<div class="panel-body son-panel-body CategoriesRadio">
													<template v-for="l3,i in categoriesL2_3[l2]">
														<label v-bind:for="key+index+'_'+i">
															<input type="radio" v-bind:id="key+index+'_'+i" onclick="clickCategoriesRadio(this)" name="categoryId" v-bind:value="l3">
															{{categoriesid_name[key]}} > {{categoriesid_name[l2]}} > {{categoriesid_name[l3]}}<span class="glyphicon glyphicon-ok" style="display:none"></span>
														</label>
													</template>
													</div>
												</template>
											</div>
										</div>
									</template>
								</ul>
							</div>
						</div>

						<div class="panel"  style="width: 69%;height: auto;">
							<div class="panel-heading">
								<h3 class="panel-title">①填写货品基本信息</h3>
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-3 control-label">SPU名称</label>
										<div class="col-sm-9">
											<input class="form-control inputname" name="name" placeholder="如：马利牌多色丙烯颜料">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">宣传标语</label>
										<div class="col-sm-9">
											<input class="form-control inputsubtitle" name="subtitle" placeholder="如：安全无毒，色彩艳丽">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label">所属品牌</label>
										<div class="col-sm-9 brandRadio" id="brandVUE">
											<template v-for="(val,key) in allBrand">
												<label v-bind:for="val.id" class="style-radio-label">
													<input type="radio" v-bind:id="val.id" v-bind:value="val.id" name="brandId" onclick="clickBrandRadio(this)">{{val.name}}
												</label>
											</template>
										</div>
										<a href="javascript:void(0)" onclick="showAllBrand(this)" style="margin-left: 90%">展开所有</a>
									</div>
								</div>
							</div>
						</div>

						<div class="panel"  style="width: 69%;margin-top:8px;height: auto;">
							<div class="panel-heading">
								<h3 class="panel-title">②填写货品详细参数</h3>
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
									<div class="form-group">
										<div class="col-sm-3">
											<input class="form-control attrName" name="attrName" placeholder="参数名称：">
										</div>
										<div class="col-sm-9">
											<input class="form-control attrValue" name="attrValue" placeholder="参数值" alt="0" onfocus="createAttrRow(this)" onblur="ifAttrRow(this)">
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>



					<form id="spudetail_form">
						<div class="panel"  style="width: 69%;margin-top:8px;height: auto;">
							<div class="panel-heading">
								<h3 class="panel-title">③上传货品详情图</h3>
							</div>
							<div class="panel-body">
								<div class="form-horizontal">
								</div>
							</div>
						</div>
					</form>
					<button type="button" class="btn btn-primary" style="min-width: 200px;" onclick="submitAnd(0)">提交并上传商品</button>
					<button type="button" class="btn btn-default" style="width: 200px;" onclick="submitAnd(1)">仅提交</button>
				</div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script type="text/javascript" src="../../js/vue.js"></script>
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="assets/scripts/klorofil-common.js"></script>
	<!--<script src="https://unpkg.com/element-ui/lib/index.js"></script>-->
	<script src="../../js/spuVUE.js"></script>
	<script src="../../js/categoriesVUE.js"></script>
	<script src="../../js/bootstrapValidator.min.js"></script>

</body>

</html>
